<div class="side-bar p-0 ">
    <ul class=" list-unstyled my-5 web d-none d-lg-block">
      <li class="text-light  "><a class="d-flex gap-3 p-3" routerLink="providers" routerLinkActive="active"><i
            class="pi pi-users"></i>Providers</a></li>
      <li class="text-light "><a class="d-flex gap-3  p-3" routerLink="categories" routerLinkActive="active"><i
            class="pi pi-th-large "></i>Categoris</a></li>
      <li class="text-light "><a class="d-flex gap-3  p-3" routerLink="bookings" routerLinkActive="active"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.3858 5.99854H17.4472C18.3076 5.99854 19.0039 6.69483 19.0039 7.55518V17.4483C19.0039 18.3077 18.3076 19.004 17.4472 19.004H6.5547C5.69434 19.004 4.99805 18.3077 4.99805 17.4473V16.0027" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.99809 16.0027H13.3148C13.9841 16.0027 14.6083 15.6685 14.9795 15.1113L15.7138 14.0088C16.152 13.3516 16.3861 12.5792 16.3861 11.7889V3.99766C16.3861 2.8922 15.4907 1.99683 14.3853 1.99683H4.38109C3.27562 1.99683 2.38025 2.8922 2.38025 3.99766V11.0566C2.38025 11.6779 2.23519 12.2901 1.95808 12.8463L1.10372 14.5551C0.770581 15.2203 1.25478 16.0027 1.99809 16.0027Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M11.6518 7.59204L8.83763 10.4062L7.14893 8.71851" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6.37863 0.996338V2.99717" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.3816 0.996338V2.99717" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>Bookings</a></li>
      <li class="text-light"><a class="d-flex gap-3 p-3" routerLink="users" routerLinkActive="active"><i
            class="pi pi-user"></i>Users</a></li>
      <li class="text-light"><a class="d-flex gap-3 p-3" routerLink="events" routerLinkActive="active"><i
            class="pi pi-calendar-minus"></i>Events</a></li>
      <li class="text-light"><a class="d-flex gap-3 p-3" routerLink="feeds" routerLinkActive="active"><i
            class="pi pi-comments"></i>Feeds</a></li>
      <li class="text-light"><a class="d-flex gap-3 p-3" (click)="logout()" routerLinkActive="active"><i class="pi pi-sign-out
            "></i>Logout</a></li>
    </ul>
  </div>